@use "./custom_tabulator.scss";
@use "./custom_print.scss";


.min-vh-90{
  min-height: 90vh !important;
}

.min-width-200{
  min-width: 200px;
}

.min-width-300{
  min-width: 300px;
}

.width-50{
  width: 50px;
}
.unit-select{
  max-width: 85px;
}