@use "./custom_tabulator.scss";
@use "./custom_print.scss";


.min-vh-90{
  min-height: 90vh !important;
}

.min-width-200{
  min-width: 200px;
}

.min-width-300{
  min-width: 300px;
}

.width-50{
  width: 50px;
}

.uom-select{
  max-width: 85px;
}
.action-buttons-container{
  .btn{
    margin: 0.25rem 0.125rem;
  }
}

:root {
  .bg-light, .bg-success, .bg-warning{
    --cui-badge-color: black;
  }
}

.react-datepicker-popper{
  z-index: 1036 !important;
}

.is-invalid.custom-react-select div{
  border-color: var(--cui-form-invalid-border-color);
}