// print css
.print-only {
  display : none;
}

@media print {
  .print-only {
    display : block;
    margin: 10mm 10mm 10mm 10mm;
  }

  .a5-landscape{
    @page{
      size: 210mm 140mm landscape;
    }
  }
  .company-image {
    object-fit: contain;
    .small{
      height: 33;
      width: 100;
    }
    .medium{
      height: 54;
      width: 160;
    }

    .big{
      height: 83;
      width: 250;
    }
  }
  .box-trapezium{
     transform: skew(-14deg);
     border: 1mm solid black;
     padding: 5mm 5mm 5mm 5mm;
     width: 12cm;
  }
}